:root {
--ps-dark: #000000;
--ps-dark-blue: #00439C;
--ps-soft-blue: #0070D1;
--ps-light-blue: #1E83D4;
--ps-soft-dark: #1F1F1F;
--ps-light-gray: #777777;
--ps-danger: #CD3D0F;
--ps-light: #FFFFFF;

}