:root {
--ps-dark: #000000;
--ps-dark-blue: #00439C;
--ps-soft-blue: #0070D1;
--ps-light-blue: #1E83D4;
--ps-soft-dark: #1F1F1F;
--ps-light-gray: #777777;
--ps-danger: #CD3D0F;
--ps-light: #FFFFFF;
--ps-xsmall: 10px;
--ps-small: 11px;
--ps-h1: 25px;
--ps-p: 13px;
}


/* #region DEBUG */
.debug #site_header {
    height: 100px;
    background-color: var(--ps-dark);
}

.debug .container-fluid {
    height: 300px;
    background-color: var(--ps-soft-dark);
}

.debug .col-2 {
    height: 100px;
    background-color: var(--ps-danger);
    border: 1px solid black;
}

.debug .playstation_5, .debug .playstation_4, .debug .sale, .debug .social {
    height: 100%;
    background-color: grey ;
}

.debug .col-12, .debug .col-4, .debug .col-6 {
    height: 300px;
    background-color: var(--ps-danger);
    border: 1px solid black;
}

.debug .col-3 {
    height: 200px;
    background-color: var(--ps-danger);
    border: 1px solid black;
}

.debug footer {
    height: 100%;
}

/* #endregion DEBUG */

footer {
    background-color: var(--ps-dark-blue);
}